<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>KONICA MINOLTA 423 Cover</string>
	<key>CFBundleGetInfoString</key>
	<string>version 3.12.2, Copyright (C) KONICA MINOLTA, INC.</string>
	<key>CFBundleIdentifier</key>
	<string>jp.konicaminolta.print.pde.423.Cover</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KONICA MINOLTA 423 Cover</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.12.2</string>
	<key>CFBundleSignature</key>
	<string>KMCv</string>
	<key>CFBundleVersion</key>
	<string>3.12.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4G1004</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0451</string>
	<key>DTXcodeBuild</key>
	<string>4G1004</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) KONICA MINOLTA, INC.</string>
	<key>NSPrincipalClass</key>
	<string>CoverMainPlugin7121D8BB_3C98_497C_8A3D_8B9DB73B2383</string>
	<key>PMSandboxCompatiblePDEs</key>
	<string>TRUE</string>
</dict>
</plist>
